.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* components/Navbar.module.css */
.nav {
  position: sticky; /* or use 'fixed' if you want it to *always* stay on screen */
  top: 0;
  z-index: 1000; /* make sure it's on top */
  background-color: #111;
  padding: 10px 20px;
  color: white;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navList {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navList li {
  display: flex;
  align-items: center;
}

.navList a {
  color: white;
  text-decoration: none;
}

.connectButtonWrapper {
  margin-left: auto; /* Pushes it to the right side */
}

.searchWrapper {
  display: flex;
  align-items: center;
}

.searchForm {
  display: flex;
  gap: 0.5rem;
}

.searchInput {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 25vw;
  max-width: 30vw;
}

.searchButton {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #3b78c2;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover {
  color: #0d76fc;
  border-color: #0d76fc;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
}

.input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.button {
  background: #7b3fe4;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #5a2bb5;
}

.button:disabled {
  background: #ccc;
  color: #8e8e8e;
  cursor: not-allowed;
}

.connectButton {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.warning {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: revert;
  display: flex;
}

.padLink {
  padding-left: 4px;
}

.attributesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.attributesButton {
  cursor: pointer;
  border-width: 2px;
  display: block;
}

.attributesButton:hover {
  background: #424242;
}

.attributesRemoveButton {
  cursor: pointer;
  border-width: 2px;
  display: block;
  margin-top: 8px;
}

.attributesRemoveButton:hover {
  background: #424242;
}

.attribute-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.attributeItemLabel {
  display: inline-grid;
  grid-column: 1;
  width: 100%;
}

.attributeItemInput {
  text-align: center;
}

.jsonPreview {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

/* Group.module.css */

.groupContainer {
  padding: 2rem;
}

.groupHeading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.groupHeadingSmallLink {
  font-size: 1rem;
  cursor: pointer;
}

.groupGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.groupCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  background-color: #4242423d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.groupCard:hover {
  transform: scale(1.02);
}

.groupContractCard {
  display: flex;
  flex-direction: column;
  border: 0.5px solid #eaeaeaa4;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  background-color: #4242423d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.groupContractCard:hover {
  transform: scale(1.02);
  background-color: #1d1d1d;
}

.groupImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.groupImage {
  max-width: 100%;
  border-radius: 2px;
  margin-bottom: 0.5rem;
}

.digitalClockWrapper {
  margin-top: 1rem;
}

.clockInputs {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.clockInput {
  width: 3.5rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #111;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.pagination button:disabled {
  background: #444;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1rem;
  font-weight: 500;
}

.marketLinks {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.marketLinks button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.1rem;
  transition: transform 0.2s;
}

.marketLinks button:hover {
  transform: scale(1.1);
}
